@page "/lectures"
@using Shared.Models
@using Shared.Extensions

<h1>Lectures</h1>

<p>View and create lectures for your students to add notes.</p> 

@if(!isAdding) {
    <div>
        <button class="btn btn-primary" @onclick="StartAddLecture">Add Lecture</button>
    </div>
}

@if (Database.Lectures == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if(isAdding){
        <h1>Lecture</h1>
        <LectureInput Lecture="lecture" OnSubmitCallback="@FetchData" OnCancelCallback="@EndAdd" />
    }
    else{
        <table class="table">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Video Link</th>
                    <th>Session Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lecture in Database.Lectures)
                {
                    <tr>
                        <td>
                            <button class="btn btn-sm btn-primary" @onclick="() => StartEditLecture(lecture)">Edit</button>
                            @if(lecture.CanStart) 
                            {
                                <button class="btn btn-sm btn-success" @onclick="() => StartLecture(lecture)">Start</button>
                            } 
                            else if (lecture.CanEnd)
                            {
                                <button class="btn btn-sm btn-danger" @onclick="() => EndLecture(lecture)">End</button>
                            }
                        </td>
                        <td>@lecture.Name</td>
                        <td>@lecture.StartDateTime.ToNaString("g")</td>
                        <td>@lecture.EndDateTime.ToNaString("g")</td>
                        <td>
                            @if(!string.IsNullOrEmpty(lecture.VideoLink))
                            {
                                <a href="@lecture.VideoLink" target="_blank">View</a>
                            }
                            else 
                            {
                                <span>n/a</span>
                            }
                        </td>
                        <td>
                            @if(lecture.IsStarted && !lecture.IsEnded){
                                <CopyToClipboard Text="@lecture.JoinLink"></CopyToClipboard>
                            } 
                            else if(lecture.IsEnded) 
                            {
                                <span>Lecture complete!</span>
                            }
                            else
                            {
                                <span>n/a</span>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>   
    }
}

@code {
    private LectureDTO lecture = new LectureDTO();

    private bool isAdding;

    public void FetchData(){
        lecture = new LectureDTO();
        this.StateHasChanged();
        EndAdd();
    }

    public void EndAdd(){
        isAdding = false;
        lecture = new LectureDTO();
        this.StateHasChanged();
    }

    private void StartAddLecture(){
        isAdding = true;
    }

    private void StartLecture(LectureDTO lecture)
    {
        lecture.StartDateTime = DateTimeOffset.Now;

    }

    private void EndLecture(LectureDTO lecture)
    {
        lecture.EndDateTime = DateTimeOffset.Now;
    }

    private void StartEditLecture(LectureDTO lecture){
        this.lecture = lecture;
        StartAddLecture();
    }
}